{% load static %}

<header
  class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full bg-white border-b border-gray-200"
>
  <nav
    class="relative container w-full mx-auto md:flex md:items-center md:justify-between md:gap-3 py-2"
    x-data="{ open: false }"
  >
    <div class="flex justify-between items-center gap-x-1">
      <a href="{% url 'core:index' %}" class="flex items-center space-x-1">
        <img src="{% static 'images/logo_waiyasport.png' %}" alt="Waiya CUP Logo" class="h-12 w-auto" />
        <span class="self-center font-semibold whitespace-nowrap"
          >Waiya Sport</span
        >
      </a>

      <button
        type="button"
        class="md:hidden relative size-9 flex justify-center items-center font-medium text-sm rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="open = !open"
      >
        <!-- Hamburger Icon -->
        <svg
          class="size-4"
          :class="{ 'hidden': open, 'block': !open }"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" x2="21" y1="6" y2="6"></line>
          <line x1="3" x2="21" y1="12" y2="12"></line>
          <line x1="3" x2="21" y1="18" y2="18"></line>
        </svg>

        <!-- Close Icon -->
        <svg
          class="shrink-0 size-4"
          :class="{ 'block': open, 'hidden': !open }"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>

        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>

    <div
      class="overflow-hidden transition-all duration-300 basis-full grow md:block"
      :class="{ 'hidden': !open, 'block': open }"
    >
      <div
        class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300"
      >
        <div
          class="py-2 md:py-0 flex flex-col md:flex-row md:justify-end md:items-center gap-0.5 md:gap-1"
        >
          <div class="grow">
            <div
              class="flex flex-col md:flex-row md:justify-end md:items-center gap-0.5 md:gap-1"
            >
                <a
                    class="py-2 md:p-2 flex items-center text-sm focus:outline-hidden {% if request.path == '/' %}text-primary font-medium{% else %}text-muted-foreground hover:text-primary{% endif %}"
                    href="{% url 'core:index' %}"
                >
                    Beranda
                </a>

                <a
                    class="py-2 md:p-2 flex items-center text-sm focus:outline-hidden {% if '/tentang/' in request.path %}text-primary font-medium{% else %}text-muted-foreground hover:text-primary{% endif %}"
                    href="{% url 'about' %}"
                >
                    Tentang
                </a>

                <a
                    class="py-2 md:p-2 flex items-center text-sm focus:outline-hidden {% if '/panduan/' in request.path %}text-primary font-medium{% else %}text-muted-foreground hover:text-primary{% endif %}"
                    href="#"
                >
                    Panduan
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>